{% extends 'base.html' %}
{% block self_head_css_js %}
    <script src="/static/layer/layer.js"></script>
{% endblock %}
{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
            <h4>系统配置</h4>
    </section>

    <!-- Main content -->
    <section class="content">
        <div id="dialog">
            <div class="box">
                <form class="form-horizontal" action="" method="POST">
                    <div class="box-body">
                        {% for section in sectionlist %}
                            <span><b>{{section}}</b></span>
                            {% for item in items %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{item}}</label>
                                </div>
                            {% endfor %}
<!--                            <div class="form-group">-->
<!--                                <label for="ansible_path1" class="col-sm-2 control-label">Ansible路径:</label>-->
<!--                                <div class="col-sm-10">-->
<!--                                    <input type="text" value="/adf/asdf" id="ansible_path1" name="ansible_path" style="width:650px;">-->
<!--                                </div>-->
<!--                            </div>-->
                        {% endfor %}
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <div class="btn-group">
                            <a id="save" style="width: 150px" href="#" class="btn btn-info" onclick="saveSubmit()">保&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;存</a>
                        </div>  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                        <div class="btn-group">
                            <a id="restart" style="width: 150px" href="#" class="btn btn-warning" onclick="restart()">重&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;启（CN171）</a>
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </form>
                <div class="form-group">

                </div>
            </div>
        </div>
    </section>
        <!-- /.content -->
</div>


<script>
    function saveSubmit() {
        if (!confirm("确定修改？")) {
            window.event.returnValue = false;
        }
    }
</script>

{% endblock %}
