.checkbox-select-label1{
	padding: 0px 2px;
	display: inline-block;
	white-space: nowrap;
	width:50%;
	text-align: left;
}
.checkbox-select-label2{
	padding: 0px 2px;
	display: inline-block;
	white-space: nowrap;
	width:100%;
	text-align: left;
}
.checkbox-select-content{
	overflow-y: auto;
	overflow-x: hidden;
	border: solid 1px #B2B2B2;
	background: #FFF;
}
.checkbox-select-selector{
	background: #FFF url("/static/images/selectbox/dropdown.blue.png") right center no-repeat;
	border: solid 1px #BBB;
	padding-right: 20px;
	padding:6px 12px;
	height:34px;
	text-decoration: none;
	color: black;
	vertical-align: middle;
	overflow:hidden;
	display:inline-block;
}
.checkbox-select-active{
	background: url("/static/images/selectbox/dropdown.blue.png") right center no-repeat;
	text-decoration: none;
	border: inset 1px #000;
	padding-right: 20px;
	padding:6px 12px;
	height:34px;
	cursor: default;
	color: black;
	vertical-align: middle;
	overflow:hidden;
	display:inline-block;
}
.checkbox-select-input{
	margin:0px;
	padding:0px;
	border:0px;
}
.checkbox-select-selectAll{
	border-bottom: dotted 1px #CCC;
	padding: 0px 2px;
	display: block;
	white-space: nowrap;
	width:100%;
}
.checkbox-select-itemChecked{
	background-color: #dce5f8;
}