{% extends 'base.html' %}

{% block self_head_css_js %}
    <script src="/static/layer/layer.js"></script>
    <script src="/static/js/base.js"></script>
    <script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.css"></script>

{% endblock %}
{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header"></section>

    <!-- Main content -->
    <section class="content">
        <form action="" method="post" id="asset_form">
        {% csrf_token %}
            <div class="box">
                <div class="box-header">
                    <div class="btn-group">
						 <a id="taskstart" style="display: none" href="#" onclick="checkSubmit('确定启动？')" class="btn btn-success">启动</a>
                    </div>
                    <div class="btn-group">
                         <a id="taskstop" style="display: none" href="#" class="btn btn-success">停止</a>
                    </div>
                    <div class="btn-group">
                         <a id="taskrestart" style="display: none" href="#" class="btn btn-success">重启</a>
                    </div>
                    <div class="btn-group">
                         <a id="taskrestart" style="display: none" href="#" class="btn btn-success">刷新状态</a>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="btn-group">
                        <a id="taskadd" class="btn btn-danger" style="display: none"  name="del_button">新增</a>
                    </div>
                     <div class="btn-group">
                        <a id="taskdel" class="btn btn-danger" style="display: none"  name="del_button">删除</a>
                    </div>
                    <div class="input-group inline-group col-md-3" style="float: right">
                                <input type="text" class="form-control" id="search_input" name="keyword" placeholder="Search">
                                <div class="input-group-btn">
                                    <button href="#" type="button" class="btn btn-primary "  onclick="change_info()">搜索</button>
                                </div>
                     </div>
                </div>
                <!-- /.box-header -->

                <div class="box-body">
                  <table class="table table-striped table-bordered" id="dataform">
                      <thead>
                        <tr>
                            <th width="7%" style="text-align:center;">
                                <input id="checkall" type="checkbox" class="i-checks" name="checkall" value="checkall" data-editable='false' onclick="check_all('asset_form')">
                            </th>
                                    <th width="7%" style="text-align:center;">模块</th>
                                    <th width="7%" style="text-align:center;">中心</th>
                                    <th width="7%" style="text-align:center;">状态</th>
                                    <th class="text-center" width="26%" style="text-align:center;">功能</th>
                                    <th width="12%" style="text-align:center;">最后一次操作人员</th>
                                    <th width="12%" style="text-align:center;">最后一次操作类型</th>
                                    <th width="15%" style="text-align:center;">最后一次操作时间</th>
                                    <th width="7%" style="text-align:center;">操作结果</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in task_list %}
                                <tr class="even gradeX">
                                        <td width="7%" style="text-align:center;"><input type="checkbox" id="id" class="i-checks" name="id"/></td>
                                        <td width="7%" style="text-align:center;">{{task.bg_module}}</td>
                                        <td width="7%" style="text-align:center;">{{task.bg_domain}}</td>
                                        <td width="7%" style="text-align:center;">{{task.bg_status}}</td>
                                        <td width="24%" style="text-align:center;">
                                            <a href="#" style="list-style-type:none">启动</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                            <a href="#" style="list-style-type:none">停止</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                            <a href="#" style="list-style-type:none">重启</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                            <a href="#" style="list-style-type:none">详情</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                            <a href="#" style="list-style-type:none">编辑</a>
                                        </td>
                                        <td width="12%" style="text-align:center;">{{task.bg_lastopr_user}}</td>
                                        <td width="12%" style="text-align:center;">{{task.bg_lastopr_type}}</td>
                                        <td width="17%" style="text-align:center;">{{task.bg_lastopr_time}}</td>
                                        <td width="7%" style="text-align:center;">{{task.bg_lastopr_result}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                  </table>
                <div class="row" style="width: auto">
                    {% include 'paginator.html' %}
                 <label for="page_len">
                    <select name="page_len" id="page_len" class="form-control m-b input-sm" onchange="change_info()">
                        <option value="10" selected>10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select>
                 </label>
                </div>
               </div>
            </div>
        </form>
    </section>
<!-- /.content -->
{#用于接收asset_edit.html中layui子层的传值#}
<input id="handle_status" value="" hidden="hidden">
</div>
<script>
  $(function () {
    $("#example1").DataTable();
    $('#dataform').DataTable({
      "paging": false,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": false,
      "bAutoWidth": false,
      "bStateSave": true
    });
  });
</script>
<script>
function checkSubmit(a) {
    if (!confirm(a)) {
        window.event.returnValue = false;
    }else{
        window.location = "{% url 'cmdb' %}"
    }

}

</script>
<script>
function tanchu(n){
    layer.open({
    type: 2,
    title: '修改主机信息',
    closeBtn: 1,
    area: ['700px', '550px'],
    shadeClose: true, //点击遮罩关闭
    content: ['/cmdb/assetedit/' + n],
{#    end:function(){#}
{#            var handle_status = $("#handle_status").val();#}
{#            if ( handle_status == '1' ) {#}
{#                layer.msg('保存成功！',{#}
{#                    icon: 1,#}
{#                    time: 2000 //2秒关闭（如果不配置，默认是3秒）#}
{#                });#}
{#            } else if ( handle_status == '2' ) {#}
{#                layer.msg('修改失败！',{#}
{#                    icon: 2,#}
{#                    time: 2000 //2秒关闭（如果不配置，默认是3秒）#}
{#                });#}
{#            }#}
{#        }#}
  });
}
</script>
<script>
function detail(n){
    layer.open({
    type: 2,
    title: '主机信息',
    closeBtn: 1,
    area: ['700px', '550px'],
    shadeClose: true, //点击遮罩关闭
    content: ['/cmdb/asset/detail/' + n]
  });
}
</script>
<script>
function asset_import(){
    layer.open({
    type: 2,
    title: 'Asset Import',
    closeBtn: 1,
    area: ['450px', '350px'],
    shadeClose: true, //点击遮罩关闭
    content: ['/cmdb/assetimport/'],
{#    end:function(){#}
{#                layer.msg('导入成功！',{#}
{#                    icon: 1,#}
{#                    time: 2000 //2秒关闭（如果不配置，默认是3秒）#}
{#                },function(){#}
{#                    history.go(0);#}
{#                });#}
{#        }#}
    end:function(){
    var handle_status = $("#handle_status").val();
    if ( handle_status == '1' ) {
        layer.msg('导入成功！',{
            icon: 1,
            time: 2000 //2秒关闭（如果不配置，默认是3秒）
        },function(){
            parent.location.reload();
        });
    } else if ( handle_status == '2' ) {
        layer.msg('导入失败！',{
            icon: 2,
            time: 2000 //2秒关闭（如果不配置，默认是3秒）
        },function(){
            parent.location.reload();
        });
    }
}

  });
}
</script>
<script>
    function change_info(){
        var args = $("#asset_form").serialize();
        window.location = "{% url 'taskManagement' %}?" + args
    }

    function export_excel(){
        var asset_id_all = getIDall();
        if (asset_id_all == ''){
            if(confirm('您没有勾选，是否导出全部信息？')){
                var args = $("#asset_form").serialize();
                window.location = "{% url 'taskManagement' %}?export=all&" + args
                }else{
                    return false;
                }
            }else{
                var args = $("#asset_form").serialize();
                window.location = "{% url 'taskManagement' %}?export=true&" + args
            }
    }
    $("#search_input").keydown(function(e) {
        if (e.keyCode == 13) {
            change_info()
        }
        });
</script>

{% endblock %}
