<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'link_css.html' %}
    {% include 'head_script.html' %}
</head>
<body>
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content" >
        <div class="box">
        <form method="post" id="task_log_form" >
        {% csrf_token %}
                <!-- /.box-header -->
                <div style="white-space:pre-line" align="left" class="box" >
                 {{log}}&nbsp;&nbsp;
                </div>
            <div align="center">
            <a href="{% url 'downloadTaskLog' %}?log_dir={{log_dir}}"><li style="width: 60pt" class="btn btn-primary">导出</li></a>
            </div>
        </form>
        </div>
    </section>
<!-- /.content -->


<script>

  function returnPrePage(){
     {# document.referrer  上一页的url，location.href  本页的url，location.search href  ？后面的参数  #}
      window.location.href=document.referrer;
  }
function downloadTaskLog(log_dir){
      window.location = "{% url 'downloadTaskLog' %}?log_dir=" + log_dir;
   }
</script>
</body>
</html>
