{% extends 'base.html' %}
{% block self_head_css_js %}{% endblock %}
{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header"></section>

    <!-- Main content -->
    <section class="content">
        <form method="post" id="host_log_form">
        {% csrf_token %}
            <div class="box" align="center">
                <div class="box-header"></div>
                <!-- /.box-header -->
                <div class="box-body">
                 {{detailLogForm.as_p}}
               </div>
                <a href="#"><li style="width: 60pt" class="btn btn-primary" onclick="exportTxt()">导出</li></a>&nbsp;&nbsp;&nbsp;
                <a href="#"><li style="width: 60pt" class="btn btn-primary" onclick="returnPrePage()">返回</li></a>
                <br/><br/>
            </div>
        </form>
    </section>
<!-- /.content -->
</div>

<script>
  function returnPrePage(){
     {# document.referrer  上一页的url，location.href  本页的url，location.search href  ？后面的参数  #}
      window.location.href=document.referrer;
  }
  function exportTxt(){
  window.location = "{% url 'hostPwdDetailLog' %}?flag="+1+"&logId="+'{{logId}}';
  }
</script>

{% endblock %}
