<script>
 $(document).ready(function(){
    //此处做权限设置
    $('.loading').fadeOut();
      $("li").each(function(){
        if($(this).attr('id')){
            $(this).css('display','block');
        }
      });
      $("a").each(function(){
        if($(this).attr('id')){
            $(this).css('display','block');
        }
      });
      $("button").each(function(){
        if($(this).attr('id')){
            $(this).css('display','block');
        }
      });
});
</script>
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
    <div style="height: 20px"></div>
      <!-- Sidebar user panel (optional) -->
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" id="sidebar-menu">

	  {% for item in permission_menu_dict.values %}
          {% ifequal item.menu_title "系统配置" %}
            <li id="config" style="display: none"><a href="{% url 'configManagement' %}"><i class="fa fa fa-cog"></i> <span>系统配置</span></a></li>
          {% else %}
            <li class="treeview" id="{{ item.classid }}" style="display: block">
              <a href="{{ item.menu_url }}"><i class="{{ item.menu_icon }}"></i> <span>{{ item.menu_title }}</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
              {% for foo in item.children %}
                       <li id="{{ foo.icon }}" style="display: block"><a href="{{ foo.url }}"><span>&nbsp;&nbsp;&nbsp;&nbsp;{{ foo.title }}</span></a></li>
              {% endfor %}
              </ul>
            </li>
          {% endifequal %}
	   {% endfor %}
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>